<?xml version="1.0"?>
<gazebo>
  <gui>
    <plugin name="gz::gui::plugins::Scene3D" filename="libgz-gui-scene3d.so">
      <gz-gui>
        <title>3D View</title>
        <property type="bool" key="showTitleBar">false</property>
        <property type="string" key="state">docked</property>
      </gz-gui>
      <scene3d>
        <ambient_light>1.0 1.0 1.0</ambient_light>
        <background_color>0.8 0.8 0.8</background_color>
        <grid>true</grid>
        <origin_visual>true</origin_visual>
      </scene3d>
    </plugin>
    
    <plugin name="gz::gui::plugins::WorldControl" filename="libgz-gui-worldcontrol.so">
      <gz-gui>
        <title>World Control</title>
        <property type="bool" key="showTitleBar">false</property>
        <property type="string" key="state">docked</property>
      </gz-gui>
    </plugin>
    
    <plugin name="gz::gui::plugins::EntityTree" filename="libgz-gui-entitytree.so">
      <gz-gui>
        <title>Entity Tree</title>
        <property type="bool" key="showTitleBar">false</property>
        <property type="string" key="state">docked</property>
      </gz-gui>
    </plugin>
  </gui>
</gazebo>
